<div class="container-fluid text-center">
    <h1>VRoam</h1>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <div><%= link_to "Popular Destinations", products_path %></div>
    <div><%= link_to "My Order", orders_path %></div>
</div>