<div class="container-fluid text-center">
    <div id="header-image-container">
        <div id="header-image">

                <div class="display-1 pt-5">VRoam</div>
                <div class="h2">Travel Aimlessly in Virtual Reality</div>

        </div>
    </div>
    <div class="h4"><%= link_to "Popular Destinations", products_path %></div>
</div>