<div class="container-fluid text-center">
    <div id="header-image-container">
        <div id="header-image" class="front-page-image">
            <div class="display-1 pt-5">VRoam</div>
            <div class="h1">Travel Aimlessly in Virtual Reality</div>
        </div>
    </div>
    <div class="content-1">
        <div class="pt-4 mt-5 h1 col-md-6">About VRoam</div>
        <div class="row pt-4">
            <div class="col-md-4"></div>
            <div class="col-md-6 text-justify h5 font-weight-normal">
            VRoam is your source of travel inspiration! Take pleasure and be entertained by unbelievable 360° recordings, beautiful virtual 
            visits, and radiant visual substance. Tilt your virtual reality headset around to look toward any path. Have a voyage to the parts of the 
            world that you've never been! Every inch was designed with travel in mind. The perfect video and sound quality help you feel real 
            immersion.
            </div>
        </div>
    </div>
    <div id="image-container">
        <div id="second-image" class="front-page-image"></div>
    </div>
    <div class="content-2">
        <div class="h1 py-5 mt-5">Top Experiences in VRoam</div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" style="height:250px;" src="https://i.imgur.com/EzlCK0s.jpg">
                    <div class="card-block">
                        <h3 class="card-title">Bali, Indonesia</h3>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" style="height:250px;" src="https://i.imgur.com/wHC6GXq.jpg">
                    <div class="card-block">
                        <h3 class="card-title">Paris, France</h3>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" style="height:250px;" src="https://i.imgur.com/EGgCjIC.jpg">
                    <div class="card-block">
                        <h3 class="card-title">Rome, Italy</h3>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
    <div class="h4"><%= link_to "Popular Destinations", products_path %></div>
    </div>
</div>