<div class="container-fluid text-center">
    <h1 class="display-1">VRoam</h1>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <div><%= link_to "Popular Destinations", products_path %></div>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
    <h2>Travel Aimlessly in Virtual Reality</h2>
</div>