<div class="container-fluid text-center">
    <div id="header-image-container">
        <div id="header-image">
            <h1 class="display-1 pt-5">VRoam</h1>
            <h2>Travel Aimlessly in Virtual Reality</h2>
        </div>
    </div>
    <div class="h4"><%= link_to "Popular Destinations", products_path %></div>
</div>